.project_main{
  background-color: rgb(252, 248, 244);
}

#project_sub_main{
  font-size: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

h1{
  padding-bottom: 5%;
  padding-left: 10%
}

.investigation{
  display:flex;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.investigation .investigation_aria{
  margin: 0 0 0 20px;
  padding: 0;
}

.investigation .title{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.investigation .text{
  margin: 10px 0 0;
  padding: 0;
  padding-right: 15px;
  padding-left: 15px;
}

.investigation .projects_img{
  width: 400px;
  height: 150px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}