.news_animation_aria{
    height: 500px;
    position:relative;
}
.news_animation_aria h1{
    position: absolute;
    font-size: 60px;
    top: 28%;
    left: 15%;

    animation: right_SlideIn 1.6s;
}
.news_animation_aria h2{
    position: absolute;
    font-size: 35px;
    top: 48%;
    left: 18%;
    animation: left_SlideIn 2s;
}
/* NEWSのテキストコンテンツ */
.news_textcontainer{
  margin-top: 3%;
  margin-left: 20%;
}
.news_textcontainer p{
  margin-top: 1%;
  inline-size: 70%;
  overflow-wrap: break-word;
  font-weight: bold;
  font-family: 'Lato', sans-serif;

  /* font-family: 'Courier New', Courier, monospace; */
}
.news_textcontainer hr{
  margin: 0;
}
.newsimg_aria{
  width: 80%;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.newsimg_aria li{
  margin: 0;
  margin-top: 3%;
}
.newsimg_aria li:not(:nth-child(odd)){
  margin-left: 3%;
}
.newsimg_aria li img{
  width: 300px;
}





@keyframes right_SlideIn {
    0% {
        opacity: 0;/*初期状態では透明に*/
        transform: translateX(-150px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
}
@keyframes left_SlideIn {
    0% {
      opacity: 0;/*初期状態では透明に*/
      transform: translateX(150px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }



.news{
    height: 100%;
    width: 100%;
    background-color: #D9D9D9;
    position: relative;
    z-index: 1;
    margin-top: 3%;
    padding-bottom: 5%;
    /* margin-top: 3%; */
    /* transform: translate(0, 60px); */
}

.hidden{
    display: none;
}

.footer{
    height: 150px;
}
.footer hr{
    height:0px;
	border-style:solid;
	border-width:0 0 1px 0;
}