.news_textcontents h2{
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
}
.news_textcontents p{
    overflow-wrap: break-word;
    width: 60%;
}

@media screen and (max-width: 480px) {
    #book_author, #book_title, #book_text{
        margin: 0;
        margin-top: 5%;
    }
    #book_text{
        margin-bottom: 3%;
    }
}